# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=fastapi_bd_elearning
MYSQL_USER=bd_user
MYSQL_PASSWORD=bd_password

# Credentials to use in Alembic
DB_USER=bd_user
DB_PASSWORD=bd_password
DB_NAME=fastapi_bd_elearning

DATABASE_URL=mysql+mysqlconnector://bd_user:bd_password@db:3306/fastapi_bd_elearning
JWT_SECRET_KEY=
